*{
    margin: 0;
    box-sizing:border-box
}
.searchbar{
    display: flex;
    align-items: center;
}
input{
    width: 100%;
     font-size: 1rem;
     border: none;
     background-image: url(resources/image\ copy\ 2.png);
     color: black;
     font-weight: 700;
}
.comics{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}